
/* 自定义字体 */
@font-face {
    font-family: 'tzy';
    /* 字体名自定义即可 */
    src: url('https://cdn.jsdelivr.net/gh/tzy13755126023/BLOG_SOURCE/font/ZhuZiAWan.woff2');
    /* 字体文件路径 */
    font-display: swap;
}
body,
.gitcalendar {
    font-family: tzy !important;
}

/* 页脚透明 */
#footer{
  background: transparent!important;
}

/*移动端优化：去除归档、标签、最新文章、公告、、只保留网站统计*/
/*移动端优化：去除归档、标签、最新文章、公告、、只保留网站统计*/
@media screen and (max-width: 800px) {
    #aside-content {
        display: none;
        font-size: 13px;
    }
}



/* 文章页H1-H6图标样式效果 */
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    -webkit-animation: ccc 1.6s linear infinite ;
    animation: ccc 1.6s linear infinite ;
}
@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}
@keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}



#content-inner.layout h1::before {
    color: #ef50a8 ;
    margin-left: -1.55rem;
    font-size: 1.3rem;
    margin-top: -0.23rem;
}
#content-inner.layout h2::before {
    color: #fb7061 ;
    margin-left: -1.35rem;
    font-size: 1.1rem;
    margin-top: -0.12rem;
}
#content-inner.layout h3::before {
    color: #ffbf00 ;
    margin-left: -1.22rem;
    font-size: 0.95rem;
    margin-top: -0.09rem;
}
#content-inner.layout h4::before {
    color: #a9e000 ;
    margin-left: -1.05rem;
    font-size: 0.8rem;
    margin-top: -0.09rem;
}
#content-inner.layout h5::before {
    color: #57c850 ;
    margin-left: -0.9rem;
    font-size: 0.7rem;
    margin-top: 0.0rem;
}
#content-inner.layout h6::before {
    color: #5ec1e0 ;
    margin-left: -0.9rem;
    font-size: 0.66rem;
    margin-top: 0.0rem;
}

#content-inner.layout h1:hover, #content-inner.layout h2:hover, #content-inner.layout h3:hover, #content-inner.layout h4:hover, #content-inner.layout h5:hover, #content-inner.layout h6:hover {
    color: #49b1f5 ;
}
#content-inner.layout h1:hover::before, #content-inner.layout h2:hover::before, #content-inner.layout h3:hover::before, #content-inner.layout h4:hover::before, #content-inner.layout h5:hover::before, #content-inner.layout h6:hover::before {
    color: #49b1f5 ;
    -webkit-animation: ccc 3.2s linear infinite ;
    animation: ccc 3.2s linear infinite ;
}

#article-container ul > li:not(.tab):before {
content: none;
}

#aside-content .card-widget, #bber-talk, #content-inner #page, #content-inner #post, #content-inner .layout, #recent-posts>.recent-post-item:not(:nth-child(2)), .extend.next, .page-number {
    border: var(--guole-border);
}
#git {
border: var(--guole-border);
border-radius:10px;
}

#pagination .pagination{margin:.3rem auto}#pagination .page-number{border-radius:8px!important;font-size:.9rem;width:2rem;height:2rem;line-height:2rem;box-shadow:0 0 5px 2px rgba(7,17,27,.06)}#pagination a.extend.next,#pagination a.page-number:not(.current){background-color:var(--pagination-page)}#pagination .pagination>a.extend.next{display:inline-block;text-align:center;font-size:.73rem;margin-right:1rem;border-radius:8px!important;width:4rem;height:2rem;line-height:2rem;box-shadow:0 0 5px 2px rgba(7,17,27,.06);margin:0 .2rem}#pagination a.extend.next:hover,#pagination a.page-number:hover{color:var(--white);background-color:var(--pagination-bg);box-shadow:0 0 6px 2px rgba(7,17,27,.15)}#pagination .page-number.current{background-color:var(--pagination-bg);box-shadow:0 0 5px 2px rgba(7,17,27,.06)}

}#pagination,.relatedPosts .relatedPosts-list div{border-radius:8px}#pagination .prev-post.pull-left{border-top-left-radius:8px;border-bottom-left-radius:8px}#pagination .next-post.pull-right{border-top-right-radius:8px;border-bottom-right-radius:8px}


:root {
    --link-bg: #edf0f7;
    --link-hover: rgba(73,177,245,0.7);
    --guole-none: rgba(0,0,0,0);
    --twikoo-name-yy: #217aa0;
    --guole-hover: #49b1f5;
    --guole-shadow: 0 8px 12px -3px rgba(73,177,245,0.2);
    --second: #fff;
    --guole-border: 1px solid var(--guole-card-border);
    --pagination-bg:#008077;
    --pagination-page:#1f2531;
    --link-bg: rgba(48, 59, 63, 0.5);
   
}




/* 日间模式页面调整 */
[data-theme=light] {
    --card-bg: rgba(255,255,255,1) !important; /* 全局背景调整 */
    --pagination-bg:#00c4b6;
    --pagination-page:#fff;
}

/* 夜间模式页面调整 */
[data-theme=dark] {
    --card-bg: rgba(20, 24, 31, .8)!important; /* 全局背景调整 */
    --btn-bg: #012c48 !important; /* 页面所有按钮夜间背景色 */
    --guole-card-border: rgba(66,68,74,.5);
    --pagination-bg: #008077;
    --pagination-page:#1f2531;
   
}


#footer {
    
    color: rgba(255,255,255,0) !important;
   
}



/* 页脚透明 */
#footer{
  background: transparent!important;
}
/* 头图透明 */
#page-header{
  background: transparent!important;
}
/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }

#aside-content.aside-content > .sticky_layout > .card-widget.card-clock > .card-glass > .card-background {
    background-color: unset ;
    box-shadow: unset ;
}


#bber-talk{
margin-bottom: -0.2rem!important;
margin-top: 0.9rem!important;
}
#bber-talk{background:var(--card-bg);color:var(--fontcolor);padding:.6rem 1rem .5rem 1rem;border-radius:8px;cursor:auto;box-shadow:var(--card-box-shadow);display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;overflow:hidden;transition:all .3s;margin-bottom:-.2rem;z-index:10;position:relative}#bber-talk:not(a){font-weight:700}#bber-talk svg{fill:currentColor;vertical-align:middle;display:inline;margin-right:5px;margin-bottom:1px}#bber-talk .talk-list{margin:0;padding:0;max-height:1.8rem;overflow:hidden;margin-bottom:-.3rem;transition:all 1s ease-in-out}#bber-talk .talk-list :hover{color:#49b1f5!important;transition:all .15s ease-in-out}#bber-talk .talk-list li.item a{cursor:pointer;font-size:.78rem}#bber-talk .talk-list li{list-style:none;width:100%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}



/* 背景宇宙星光  */
#universe{
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}





/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
 
::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}
 
::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}
 
::-webkit-scrollbar-corner {
  background-color: transparent;
}
 
::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}


#page .flink-item-desc,#page .flink-item-desc:hover,#page .flink-item-name,#page .flink-item-name:hover{text-decoration:none }#page .flink-list-item{text-decoration:none!important;background:var(--link-bg)}table td:last-child,table th:last-child{border-right:none}.table-wrap{overflow-x:auto;border-radius:8px}

